{% extends 'base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}

    <div class="row">
        <h1>Panel</h1>

        <table class="table">
            <tr>
                <td>Użytkownicy</td>
                <td>{{ numberUser }}</td>
            </tr>
            <tr>
                <td>Ogłoszenia</td>
                <td>{{ numberAnnouncementsType.all }}</td>
            </tr>
            <tr>
                <td>Ogłoszenia - towarzysz</td>
                <td>{{ numberAnnouncementsType.companion }}</td>
            </tr>
            <tr>
                <td>Ogłoszenia - integracja</td>
                <td>{{ numberAnnouncementsType.integration }}</td>
            </tr>
        </table>

    </div>

{% endblock %}